@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');


.heroimage{
    height: 50vh;
    background-image: url(../../img/serviços/fundo_servicos_header_desktop.png);
    background-size: 100% 50vh;
    background-position: bottom;
}

/* mainservicos */

.ideia{
    margin-top: 10%;
    align-items: center;
}



.modelacao{
    align-items: center;
}


.modelacaoimg{
    width: 30%;
    height: 30%;
    
}

.modelacaobloco{
    margin-left: 20%;
    margin-top: 5%;
}




/* desenvolvimento */
.desenvolvimento{
    background-image: url(../../img/fundo_onda_topo-02.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.maindesenvolvimento{
    padding-top: 5%;
    padding-bottom: 5%;
    

}

.videoframe{
    margin-top: 5%;
    
}

.videoframe iframe{
    border-radius: 20px;
}

.devideo{
    color: #824733;
}

.entrega{
    margin-top: 5%;
    
}


/*resultado final*/

.fundobege{
    background-image: url(../../img/fundo_hero_home_page_tablet_topo_vescuro.png);
    padding-top: 20%;
    height: auto;
    background-size: cover;
}

.resultadofinal{
    background-color: #255E5A;
    height: 40%;
    border-radius: 5% 5% 0 0;
    padding-bottom: 50px;
}

.mainresultadofinal{
    padding-top: 5%;
}
.servicoh2{
    color: #EFEEEE;
}

.servicoh2:nth-child(2){
    font-weight: 300;
}


.imgresultado{
    background-image: url(../../img/serviços/servicos_resultado_final.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vw;
}
.btnbranco{
    background: #EFEEEE;
    font-weight: 700;
    border-radius:30px;
    border: none;
    padding: 10px 25px;
}

.btnbranco a{
    color: #255E5A;
    text-decoration: none;
}

.btnbranco:hover{
    background-color:#e2dad600;
    border: #EFEEEE solid 2px;
}

.btnbranco:hover a{
    color: #EFEEEE;
    transition: 0.5s;
}



.acordiao{
    display: none;
    margin: 40px 20px;
}

/* Styles for mobile devices */
@media only screen and (max-width: 767px) {

    .acordiao {
        display: block;
    }
    .contentservicos {
        display: none;
    }

    .imgresultado {
        height: 25vh;
        margin-bottom: -12vh;
        margin-top: 20px;
    }

    .fundobege{
        background-image: url(../../img/fundo_hero_home_page_tablet_topo_vescuro.png);
        padding-top: 20%;
        height: auto;
        background-size: cover;
    }
}


