/* ****NOTAS****

CORES USADAS (hex codes)

*cores basicas:*

-cinza claro (texto em botões e fundo de caixas): #EFEEEE
-beje claro (fundo de páginas formas onda): #E2DAD6
-cor para o fundo: #f2efeb
-cor dos textos: #545454


*cores para destaque*

-verde escuro: #255E5A
-verde claro: #85B4AE
-vermelho: #824733
-amarelo: #BC8757



FONTES - TIPOGRAFIAS


Open Sans

font-family: 'Open Sans', sans-serif;

font-weight:
300
400
700
800



usar ctrl+F para encontrar as seguintes secções neste documento

GERAL
-header geral
-header navbar
-header navbar-transição-"animação"
-botão verde - geral (para todod o site)
-texto- geral (para todo o site)
-footer homepage e geral

HOMEPAGE
-header homepage - mensagem de abertura
-main homepage - evoluimos consigo
-main homepage - nossa equipa
-main homepage CTA+video


CONTACTOS
-pagina contactos
-formulário contactos
-footer contactos

PAGINA DE PRODUTO EXEMPLO SOLA CREPE
-pagina de um produto - exemplo sola em crepe
-footer para pagina de produtos geral e produto detalhe

*/



* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #f2efeb;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

a {
    text-decoration: none;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}



/*header geral*/

.headerhomepage {
    width: 100%;
    height: 100vh;
    background-image: url(../../img/fundo_onda-01.webp);
    background-size: cover;
    background-position: center;
    background-size: 100% 100vh;
    position: relative;
}


.headerbackground {

    background-image: url(../../img/fundo_onda-01.webp);
    background-size: cover;
    background-position: bottom;
    background-color: #E2DAD6;
    position: relative;
    height: 10vh;
}

/*header navbar*/

.navegacao {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding-top: 20px;
    cursor: pointer;

}

.linksnavegacao {
    z-index: 1;
}


.linksmenu li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.linksmenu li a {
    color: #255E5A;
    text-decoration: none;
    font-size: 16px;

}

/*header navbar-transição-"animação"*/

.linha {
    position: relative;
}

.linha::after {
    content: '';
    background-color: #85B4AE;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: tranform ease-in-out;
}

.linha:hover::after {
    transform: scaleX(1);
    transition: .2s;
}




.seletoridioma {
    background-color: #f2efeb;
    color: #255E5A;
    height: 40px;
    width: 100px;
    border-radius: 30px;
    border: none;
    z-index: 1;
}

.seletoridioma-lite {
    background-color: #ffffff;
    color: #255E5A;
    height: 40px;
    width: 100px;
    border-radius: 30px;
    border: none;
    z-index: 1;
}

.dropdown-menu {
    border: none;
    background-color: #f2efeb;

}

.dropdown-menu li a {
    color: #255E5A;

}


.barrapesquisa {
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f2efeb;
    border-radius: 30px;
    border: transparent;
    align-items: center;
    z-index: 2;
}

.barrapesquisa-lite {
    background-color: #fdfdfc;
}



.barrapesquisa:hover input {
    width: 100px;
}

.barrapesquisa input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 300;
    font-size: 16px;
    transition: 0.8s;
    background: transparent;

}

.barrapesquisa a img {
    width: 20px;
    height: 20px;
}





/*_______________botão verde - geral (para todod o site)______________*/
.btnverde {
    background: #255E5A;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    padding: 10px 25px;
}

.btnverde a {
    color: #EFEEEE;
    text-decoration: none;
}

.btnverde:hover {
    background-color: #e2dad600;
    border: #255E5A solid 2px;
}

.btnverde:hover a {
    color: #255E5A;
    transition: 0.5s;
}




/*header homepage - mensagem de abertura*/

.heroinicio {
    padding-top: 10%;
    padding-bottom: 10%;
}

.herotext h1 {
    font-weight: 700;
    font-size: 48px;
    color: #BC8757;
}

.herotext p {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #255E5A;
    font-weight: 300;
    font-size: 18px;
    padding-left: 0;
}


/*_______________texto- geral (para todo o site)______________*/
.h3titulo {
    color: #255E5A;
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 5%;
}

.ptitulo {
    color: #545454;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}

.ptexto {
    color: #545454;
    font-size: 18px;
}

.destaquetexto {
    font-weight: 700;
}

.cartaotitulo {
    padding-left: 30px;
}

.cartao {
    padding-left: 30px;
    padding-bottom: 50px;
}

.cartao:nth-child(3) {
    padding-left: 50px;
}


.cartao:last-child {
    padding-left: 100px;
}


/*main homepage - evoluimos consigo*/




.missao::before {
    content: url(../../img/icons/homepage_missao_verde-01.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;

}

.visao::before {
    content: url(../../img/icons/homepage_visao_vermelho-01.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;

}

.valores::before {
    content: url(../../img/icons/home_page_valores_amarelo.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}


/*main homepage - nossa equipa*/


.nossaequipa {
    height: 70vh;
    padding-top: 5%;
    margin-bottom: 100px;
}


.imgequipa {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}



.textoequipa .destaquetexto {
    color: #255E5A;
}

.phomepage {
    padding-bottom: 10%;
}



/*main homepage CTA+video*/


.mainimagemfundo {

    width: 100%;
    height: 100vh;
    background-image: url(../../img/fundo_onda_topo-02.webp);
    background-size: cover;
    background-position: center;
    background-size: 100% 100vh;

}




.maintexto {
    transform: translateY(300px);
}

.h2destaque {
    font-weight: 700;
    font-size: 36px;
    color: #255E5A;
    padding-bottom: 5%;
}

.mainvideo {


    height: 50vh;
    transform: translateY(200px);

}

.mainvideo iframe {
    border-radius: 20px;
    width: 100%;
    height: 315px;
}

#frame {
    height: 50vh;
    transform: translateY(200px);
    border-radius: 30px;
}

.clientesverde {
    background-color: #255E5A;
    height: 40%;
    border-radius: 5% 5% 0 0;
    padding-bottom: 50px;
    margin-top: -5%;
    padding-top: 5%;
}

.h3titulo.titulobranco {
    color: #EFEEEE;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.clientelogo {
    padding: 50px;
}


/* footer homepage e geral*/

.fundofooter {
    background-color: #85B4AE;
    height: 30%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.pfooter {
    color: #EFEEEE;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pfooter a {
    color: #EFEEEE;
    text-decoration: none;
}

.footertelefone::before {
    content: url(../../img/icons/footer_telefone.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.footermail::before {
    content: url(../../img/icons/footer_email.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.footermorada::before {
    content: url(../../img/icons/footer_morada.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}






/*____________________pagina contactos______________*/

.bodycontactos {
    background-color: #85B4AE;
}



/* formulário contactos*/
.formulario {
    padding-bottom: 5%;
}

.inputbox label {
    color: #EFEEEE;
}

.inputbox input {
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: #EFEEEE;
    margin-bottom: 20px;
    padding-left: 15px;
}

.inputbox textarea {
    width: 100%;
    height: 30%;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #EFEEEE;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 15px;
}


.h3titulocontactos {
    color: #EFEEEE;
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 5%;
    padding-top: 5%;
}


form .btnverde {
    color: #EFEEEE;

}


/*footer contactos*/

.fundofootercontactos {

    background-image: url(../../img/fundo_onda_2_topo_vescuro.webp);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-size: 100% 100vh;
    padding-top: 10%;
}

.mailcontactos {
    padding-bottom: 5%;
}

.ptitulocontactos {
    font-weight: 700;
}


.mapalocalizacao iframe {
    border-radius: 20px;
}




/* ______________pagina de um produto - exemplo sola em crepe_____________*/


.maindetalheproduto {

    background-image: url(../../img/fundo_onda-01.webp);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100vh;

}



.fundoprodudo {
    background-color: #fffafa;
    text-align: center;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

.imagemprincipal img {
    width: 100%;
    border-radius: 20px;
    padding: 0;
}

.detalheproduto {
    padding: 5%;
}

.detalheproduto img {
    border-radius: 20px;
    width: 80%;
}


.detalheproduto h3,
.detalheproduto p {
    text-align: left;
    padding-left: 10%;
}

.detalheproduto p {
    color: #255E5A;
}

.produtoscta p {
    padding-left: 0%;
    color: #255E5A;
}


.produtoscta,
.produtosvolta {
    text-align: left;
    padding-left: 13%;
}


.produtoscta .btnverde {
    margin-top: 20px;
    margin-bottom: 20px;
}

.produtosvolta a {
    text-decoration: none;
    color: #255E5A;
}

.produtosvolta:hover a {
    font-weight: 700;
}


/*footer para pagina de produtos geral e produto detalhe*/

.footeronda {
    background-image: url(../../img/fundo_onda_2_topo_vclaro.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30%;
    padding-top: 150px;
    padding-bottom: 50px;
}


/* Importar todos os styles antes de definir media queries*/
@import "style_slider.css";

.clientesverde .slider {
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: none;
}



/* Styles for mobile devices */
@media only screen and (max-width: 767px) {

    /*geral do site*/
    .btnverde {
        background: #255E5A;
        font-weight: 700;
        border-radius: 30px;
        border: none;
        padding: 5px 15px;
    }

    .btnverde a{
        font-size: 12px;
    }

    .h3titulo {
        font-size: 16px;
        padding-bottom: 10%;
    }

    .ptitulo {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .ptexto{
        font-size: 14px;
    }


    .logonav {
        background-image: url(../../img/logos/logotipo/logo_sola_ouro_castanho-01.svg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        height: 65px;
        width: 60px;
    }

    .navegacao {
        height: 100px;
    }

    .headerhomepage {
        background-image: url(../../img/onda_hero_home_page_tablet.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        background-size: 100% 100vh;

    }


    /*homepage*/

    .mainvideo iframe {
        border-radius: 20px;
        width: 100%;
        height: 315px;
    }


    .sapatosimagem {
        display: none;
    }

    .clientesverde {
        background-color: #255E5A;
        height: 40%;
        border-radius: 5% 5% 0 0;
        padding-bottom: 50px;
        margin-top: -35%;
        padding-top: 30%;
    }
    
    .clientesverde .slider {
        height: auto;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        display: block;
    }
    .clientesverde .container {
        display: none;
    }

    .herotext h1 {
        font-size: 32px;
    }

    .herotext p {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 16px;
        padding-left: 0
    }

 
    .missao::before {
        width: 25px;
        height: 25px; 
    }

    .visao::before { 
        width: 25px;
        height: 25px;  
    }


    .valores::before {   
        width: 25px;
        height: 25px;   
    }

    .cartao:nth-child(3) {
        padding-left: 30px;
    }

    .cartao:last-child {
        padding-left: 30px;
        padding-bottom: 10%;
    }

    .maintexto {
        transform: translateY(100px);
    }
    .maintexto .h2destaque{
        font-size: 32px;
        padding-bottom: 10%;
    }
    
    .imgequipa{
        
        padding-bottom: 10%;
     
    }

    .mainimagemfundo{
        background-image: url(../../img/fundo_hero_home_page_tablet_topo.png);
    }


}

/* Styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .logonav {
        background-image: url(../../img/logos/logotipo/logo_sola_ouro_castanho-01.svg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        height: 65px;
        width: 80px;
    }

    .mainvideo iframe {
        border-radius: 20px;
        width: 100%;
        height: 315px;
    }

    .headerhomepage {
        background-image: url(../../img/onda_hero_home_page_tablet.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-size: 100% 100vh;
    }

    .sapatosimagem {
        display: none;
    }

    .btnverde {
        background: #255E5A;
        font-weight: 700;
        border-radius: 30px;
        border: none;
        padding: 5px 15px;
    }

    .btnverde a{
        font-size: 12px;
    }

    .h3titulo {
        font-size: 24px;
        padding-bottom: 10%;
    }

    .ptitulo {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .ptexto{
        font-size: 14px;
    }


    .clientesverde {
        background-color: #255E5A;
        height: 40%;
        border-radius: 5% 5% 0 0;
        padding-bottom: 50px;
        margin-top: -25%;
        padding-top: 20%;
    }


    .clientesverde .slider {
        height: auto;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        display: block;
    }
    .clientesverde .container {
        display: none;
    }

    .herotext h1 {
        font-size: 36px;
    }

    .herotext p {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 16px;
        padding-left: 0
    }

 
    .missao::before {
        width: 25px;
        height: 25px; 
    }

    .visao::before { 
        width: 25px;
        height: 25px;  
    }


    .valores::before {   
        width: 25px;
        height: 25px;   
    }

    .cartao:nth-child(3) {
        padding-left: 30px;
    }

    .cartao:last-child {
        padding-left: 30px;
        padding-bottom: 10%;
    }

    .maintexto {
        transform: translateY(100px);
    }
    .maintexto .h2destaque{
        font-size: 32px;
        padding-bottom: 5%;
    }
    
    .mainvideo {
        height: 50vh;
        transform: translateY(150px);
    }

    .imgequipa{    
        padding-bottom: 10%;
    }

    .mainimagemfundo{
        background-image: url(../../img/fundo_hero_home_page_tablet_topo.png);
    }

    .nossaequipa {
        height: 50vh;
        padding-top: 5%;
        margin-bottom: 0px;
    }


    .h3titulo.titulobranco {
        color: #EFEEEE;
        text-align: center;
        padding-top: 0%;
        padding-bottom: 5%;
    }
}
  

/* Styles quando non desktop links "partem" */
@media screen and (max-width: 1200px){
    .clientesverde .slider {
        height: auto;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        display: block;
    }
    .clientesverde .container {
        display: none;
    }
}  

/* Styles for desktop devices */
@media only screen and (min-width: 1024px) {
    .logonav {
        background-image: url(../../img/logos/logo_completo/logo_sola_ouro_completo_castanho.svg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        height: 65px;
        width: 160px;
    }
}